In [67]:
##Import Pandas, Matplotlib, & Numpy
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [68]:
##Import Data 
fifa_21_route = "data/players_21.csv"
fifa_20_route = "data/players_20.csv"
fifa_19_route = "data/players_19.csv"
fifa_18_route = "data/players_18.csv"
fifa_17_route = "data/players_17.csv"
fifa_16_route = "data/players_16.csv"
fifa_15_route = "data/players_15.csv"

In [69]:
##Create Dataframes 
fifa_21 = pd.read_csv(fifa_21_route)
fifa_20 = pd.read_csv(fifa_20_route)
fifa_19 = pd.read_csv(fifa_19_route)
fifa_18 = pd.read_csv(fifa_18_route)
fifa_17 = pd.read_csv(fifa_17_route)
fifa_16 = pd.read_csv(fifa_16_route)
fifa_15 = pd.read_csv(fifa_15_route)

In [70]:
##View Data 
fifa_15.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,36+3,40+3,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3

In [71]:
##View Columns
for col in fifa_21.columns:
    print(col)

sofifa_id
player_url
short_name
long_name
age
dob
height_cm
weight_kg
nationality
club_name
league_name
league_rank
overall
potential
value_eur
wage_eur
player_positions
preferred_foot
international_reputation
weak_foot
skill_moves
work_rate
body_type
real_face
release_clause_eur
player_tags
team_position
team_jersey_number
loaned_from
joined
contract_valid_until
nation_position
nation_jersey_number
pace
shooting
passing
dribbling
defending
physic
gk_diving
gk_handling
gk_kicking
gk_reflexes
gk_speed
gk_positioning
player_traits
attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
mentality_composure
defending_marking
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb

In [72]:
##Drop Columns 
fifa_21 = fifa_21.loc[:, fifa_21.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_20 = fifa_20.loc[:, fifa_20.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_19 = fifa_19.loc[:, fifa_19.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_18 = fifa_18.loc[:, fifa_18.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_17 = fifa_17.loc[:, fifa_17.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_16 = fifa_16.loc[:, fifa_16.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_15 = fifa_15.loc[:, fifa_15.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]

In [73]:
##View updated dataframe
fifa_21.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
0,560000,85.0,92.0,91.0,95.0,38.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN
1,220000,89.0,93.0,81.0,89.0,35.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN
2,125000,NaN,NaN,NaN,NaN,NaN,NaN,87.0,92.0,78.0,90.0,52.0,90.0
3,240000,78.0,91.0,78.0,85.0,43.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN
4,270000,91.0,85.0,86.0,94.0,36.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
##Add New column to each data frame
fifa_15['year']= 0.0
fifa_16['year']= 1.0
fifa_17['year']= 2.0
fifa_18['year']= 3.0
fifa_19['year']= 4.0
fifa_20['year']= 5.0
fifa_21['year']= 6.0

In [75]:
##Confirm new column created 
fifa_21.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,year
0,560000,85.0,92.0,91.0,95.0,38.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
1,220000,89.0,93.0,81.0,89.0,35.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2,125000,NaN,NaN,NaN,NaN,NaN,NaN,87.0,92.0,78.0,90.0,52.0,90.0,6.0
3,240000,78.0,91.0,78.0,85.0,43.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,270000,91.0,85.0,86.0,94.0,36.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0

In [76]:
##Merge multiple dataframes into one 
fifa_df = pd.concat([fifa_15, fifa_16, fifa_17, fifa_18, fifa_19, fifa_20, fifa_21])

In [77]:
##View dataframe 
fifa_df.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,year
0,550000,93.0,89.0,86.0,96.0,27.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,375000,93.0,93.0,81.0,91.0,32.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,275000,93.0,86.0,83.0,92.0,32.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,275000,76.0,91.0,81.0,86.0,34.0,86.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,300000,NaN,NaN,NaN,NaN,NaN,NaN,87.0,85.0,92.0,86.0,60.0,90.0,0.0

In [78]:
##Seed to make same split every time 
np.random.seed(42)

In [79]:
##Import package to split data 80/20 training/test
from sklearn.model_selection import train_test_split

In [92]:
##Confirm # of each player
fifa_df["year"].value_counts()

6.0    18944
5.0    18483
4.0    18085
3.0    17954
2.0    17597
0.0    16155
1.0    15623
Name: year, dtype: int64

In [93]:
#Import package to split data 80/20 training/test, distributed across all incomes 
from sklearn.model_selection import StratifiedShuffleSplit
fifa_df = fifa_df.reset_index(drop=True)

In [94]:
##Import package to split data 80/20 training/test
from sklearn.model_selection import train_test_split

In [95]:
##Split data, 20% to test 
##for loop grabs both sets and allocates according to split amount
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(fifa_df, fifa_df["year"]):
    strat_train_set = fifa_df.loc[train_index]
    strat_test_set = fifa_df.loc[test_index]

In [96]:
len(fifa_df)

122841

In [97]:
len(strat_test_set)

24569

In [99]:
strat_train_set.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,year
108036,500,84.0,70.0,69.0,73.0,70.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
15519,2000,57.0,39.0,48.0,50.0,50.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
64359,2000,67.0,58.0,57.0,61.0,46.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0
45689,3000,67.0,46.0,63.0,65.0,38.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
91749,5000,77.0,49.0,63.0,69.0,66.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [100]:
##Compare split between test data & actual data (This is training set data)
strat_test_set["year"].value_counts() / len(strat_test_set)

6.0    0.154219
5.0    0.150474
4.0    0.147218
3.0    0.146160
2.0    0.143229
0.0    0.131507
1.0    0.127193
Name: year, dtype: float64

In [101]:
##Split of income levels matches
fifa_df["year"].value_counts() / len(fifa_df)

6.0    0.154216
5.0    0.150463
4.0    0.147223
3.0    0.146156
2.0    0.143250
0.0    0.131511
1.0    0.127181
Name: year, dtype: float64