In [1]:
##Import Pandas, Matplotlib, & Numpy
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
##Import Data 
##Link to data source: https://www.kaggle.com/datasets/stefanoleone992/fifa-21-complete-player-dataset
fifa_21_route = "data/players_21.csv"
fifa_20_route = "data/players_20.csv"
fifa_19_route = "data/players_19.csv"
fifa_18_route = "data/players_18.csv"
fifa_17_route = "data/players_17.csv"
fifa_16_route = "data/players_16.csv"
fifa_15_route = "data/players_15.csv"

In [3]:
##Create Dataframes 
fifa_21 = pd.read_csv(fifa_21_route)
fifa_20 = pd.read_csv(fifa_20_route)
fifa_19 = pd.read_csv(fifa_19_route)
fifa_18 = pd.read_csv(fifa_18_route)
fifa_17 = pd.read_csv(fifa_17_route)
fifa_16 = pd.read_csv(fifa_16_route)
fifa_15 = pd.read_csv(fifa_15_route)

In [4]:
##View Data 
fifa_15.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,36+3,40+3,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3

In [5]:
##View Columns
for col in fifa_21.columns:
    print(col)

sofifa_id
player_url
short_name
long_name
age
dob
height_cm
weight_kg
nationality
club_name
league_name
league_rank
overall
potential
value_eur
wage_eur
player_positions
preferred_foot
international_reputation
weak_foot
skill_moves
work_rate
body_type
real_face
release_clause_eur
player_tags
team_position
team_jersey_number
loaned_from
joined
contract_valid_until
nation_position
nation_jersey_number
pace
shooting
passing
dribbling
defending
physic
gk_diving
gk_handling
gk_kicking
gk_reflexes
gk_speed
gk_positioning
player_traits
attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
mentality_composure
defending_marking
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb

### Drop unnecessary columns, create new column to categorize data from different spreadsheets

In [6]:
##Drop Columns 
fifa_21 = fifa_21.loc[:, fifa_21.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_20 = fifa_20.loc[:, fifa_20.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_19 = fifa_19.loc[:, fifa_19.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_18 = fifa_18.loc[:, fifa_18.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_17 = fifa_17.loc[:, fifa_17.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_16 = fifa_16.loc[:, fifa_16.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]
fifa_15 = fifa_15.loc[:, fifa_15.columns.intersection(['wage_eur','pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning'])]

In [7]:
##View updated dataframe
fifa_21.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
0,560000,85.0,92.0,91.0,95.0,38.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN
1,220000,89.0,93.0,81.0,89.0,35.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN
2,125000,NaN,NaN,NaN,NaN,NaN,NaN,87.0,92.0,78.0,90.0,52.0,90.0
3,240000,78.0,91.0,78.0,85.0,43.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN
4,270000,91.0,85.0,86.0,94.0,36.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
##Add New column to each data frame, differentiate records from each data set 
fifa_15['year']= 0.0
fifa_16['year']= 1.0
fifa_17['year']= 2.0
fifa_18['year']= 3.0
fifa_19['year']= 4.0
fifa_20['year']= 5.0
fifa_21['year']= 6.0

In [9]:
##Confirm new column created for one of the dataframes
fifa_21.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,year
0,560000,85.0,92.0,91.0,95.0,38.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
1,220000,89.0,93.0,81.0,89.0,35.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2,125000,NaN,NaN,NaN,NaN,NaN,NaN,87.0,92.0,78.0,90.0,52.0,90.0,6.0
3,240000,78.0,91.0,78.0,85.0,43.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
4,270000,91.0,85.0,86.0,94.0,36.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0

In [10]:
##Merge multiple dataframes into one 
fifa_df = pd.concat([fifa_15, fifa_16, fifa_17, fifa_18, fifa_19, fifa_20, fifa_21])

In [11]:
##View dataframe 
fifa_df.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,year
0,550000,93.0,89.0,86.0,96.0,27.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,375000,93.0,93.0,81.0,91.0,32.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,275000,93.0,86.0,83.0,92.0,32.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,275000,76.0,91.0,81.0,86.0,34.0,86.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,300000,NaN,NaN,NaN,NaN,NaN,NaN,87.0,85.0,92.0,86.0,60.0,90.0,0.0

In [12]:
##Seed to make same split every time 
np.random.seed(42)

In [13]:
##Import package to split data 80/20 training/test
from sklearn.model_selection import train_test_split

In [14]:
##Confirm # of each player
fifa_df["year"].value_counts()

6.0    18944
5.0    18483
4.0    18085
3.0    17954
2.0    17597
0.0    16155
1.0    15623
Name: year, dtype: int64

### Split data into training/test set data based off categorical column created above

In [15]:
#Import package to split data 80/20 training/test, distributed across all incomes. Reset index 
from sklearn.model_selection import StratifiedShuffleSplit
fifa_df = fifa_df.reset_index(drop=True)

In [16]:
##Import package to split data 80/20 training/test
from sklearn.model_selection import train_test_split

In [17]:
##Split data, 20% to test 
##for loop grabs both sets and allocates according to split amount
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(fifa_df, fifa_df["year"]):
    strat_train_set = fifa_df.loc[train_index]
    strat_test_set = fifa_df.loc[test_index]

In [18]:
len(fifa_df)

122841

In [19]:
len(strat_test_set)

24569

In [20]:
strat_train_set.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,year
108036,500,84.0,70.0,69.0,73.0,70.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
15519,2000,57.0,39.0,48.0,50.0,50.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
64359,2000,67.0,58.0,57.0,61.0,46.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0
45689,3000,67.0,46.0,63.0,65.0,38.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
91749,5000,77.0,49.0,63.0,69.0,66.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [21]:
##Compare split between test data & actual data 
strat_test_set["year"].value_counts() / len(strat_test_set)

6.0    0.154219
5.0    0.150474
4.0    0.147218
3.0    0.146160
2.0    0.143229
0.0    0.131507
1.0    0.127193
Name: year, dtype: float64

In [22]:
##Split of income levels matches
fifa_df["year"].value_counts() / len(fifa_df)

6.0    0.154216
5.0    0.150463
4.0    0.147223
3.0    0.146156
2.0    0.143250
0.0    0.131511
1.0    0.127181
Name: year, dtype: float64

In [23]:
##Drop categorial column 
for set_ in (strat_train_set, strat_test_set):
    set_.drop("year", axis=1, inplace=True)

In [24]:
##Confirm column dropped
strat_train_set.head()

,wage_eur,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
108036,500,84.0,70.0,69.0,73.0,70.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN
15519,2000,57.0,39.0,48.0,50.0,50.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN
64359,2000,67.0,58.0,57.0,61.0,46.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN
45689,3000,67.0,46.0,63.0,65.0,38.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN
91749,5000,77.0,49.0,63.0,69.0,66.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
##Drop Label from training set 
fifa_df = strat_train_set.drop("wage_eur", axis=1) 
wage_labels = strat_train_set["wage_eur"].copy()

In [26]:
##Check for missing values
sample_incomplete_rows = fifa_df[fifa_df.isnull().any(axis=1)].head()
sample_incomplete_rows

,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
108036,84.0,70.0,69.0,73.0,70.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN
15519,57.0,39.0,48.0,50.0,50.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN
64359,67.0,58.0,57.0,61.0,46.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN
45689,67.0,46.0,63.0,65.0,38.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN
91749,77.0,49.0,63.0,69.0,66.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
##Import Impute object 
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median")

In [28]:
fifa_num = fifa_df

In [29]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

### Create pipeline, fit & transform the data set. Print prepared training data

In [30]:
##Define num_pipline, feed into full_pipeline
num_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('std_scaler', StandardScaler()),
    ])

In [31]:
from sklearn.compose import ColumnTransformer

In [32]:
num_attribs = list(fifa_num)

full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs)
    ])

In [33]:
#Fit & Transform training data set 
fifa_prepared = full_pipeline.fit_transform(fifa_df)

In [34]:
#Training Data 
fifa_prepared

array([[ 1.51465819e+00,  1.34029960e+00,  1.19935794e+00, ...,
        -9.25700678e-03,  6.12695401e-02,  7.32297143e-03],
       [-1.04999023e+00, -1.02080512e+00, -8.95743144e-01, ...,
        -9.25700678e-03,  6.12695401e-02,  7.32297143e-03],
       [-1.00120443e-01,  4.26323578e-01,  2.15732128e-03, ...,
        -9.25700678e-03,  6.12695401e-02,  7.32297143e-03],
       ...,
       [ 8.98535136e-02,  1.21664904e-01,  1.01924040e-01, ...,
        -3.96449427e+00, -5.68897422e+00, -6.45144789e+00],
       [ 8.98535136e-02, -2.16327515e+00, -2.79131079e+00, ...,
        -9.25700678e-03,  6.12695401e-02,  7.32297143e-03],
       [-1.42993814e+00, -1.17313446e+00, -6.96209707e-01, ...,
        -9.25700678e-03,  6.12695401e-02,  7.32297143e-03]])

In [35]:
fifa_prepared.shape

(98272, 12)

### Utilizing different regression models, print root mean square error to see which ones are better

In [36]:
##Linear Regression RMSE
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(fifa_prepared, wage_labels)

wage_predictions = lin_reg.predict(fifa_prepared)
lin_mse = mean_squared_error(wage_labels, wage_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

19408.834021977524

In [37]:
##Decision Tree RMSE
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(random_state=42)
tree_reg.fit(fifa_prepared, wage_labels)

fifa_predictions = tree_reg.predict(fifa_prepared)
tree_mse = mean_squared_error(wage_labels, fifa_predictions)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

1065.7194117830322

In [38]:
##Random Forest RMSE
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=10, random_state=42)
forest_reg.fit(fifa_prepared, wage_labels)

fifa_predictions = forest_reg.predict(fifa_prepared)
forest_mse = mean_squared_error(wage_labels, fifa_predictions)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

4843.933651290563

In [39]:
##Support Vector 
from sklearn.svm import SVR

svm_reg = SVR(kernel="linear")
svm_reg.fit(fifa_prepared, wage_labels)
fifa_predictions = svm_reg.predict(fifa_prepared)
svm_mse = mean_squared_error(wage_labels, fifa_predictions)
svm_rmse = np.sqrt(svm_mse)
svm_rmse

21687.704737671625

### Random Forest & Decision Tree appear to be best of the four. Will cross validate all models to confirm

In [41]:
##Cross Validate 
from sklearn.model_selection import cross_val_score

##Function to show cross validation scores 
def display_scores(scores): 
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [42]:
##Cross Validate Linear Regression 
lin_scores = cross_val_score(lin_reg, fifa_prepared, wage_labels,
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [20463.46658696 19392.08209071 20026.19373562 19005.52709104
 20919.76081569 18459.99976025 20356.01640081 19646.00132273
 18748.78636545 16772.49538514]
Mean: 19379.032955439052
Standard deviation: 1147.6049961426902

In [43]:
##Cross Validate for Random Forest 
forest_scores = cross_val_score(forest_reg, fifa_prepared, wage_labels,
                                scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)
display_scores(forest_rmse_scores)

Scores: [11541.07862528 11103.54306086 11408.69520659 11362.98720943
 11538.23673598 11244.73614934 11964.62096217 11165.8442956
 11852.87441655 10618.01871992]
Mean: 11380.06353817018
Standard deviation: 365.8815062766828

In [44]:
##Cross Validate for SVM 
svm_scores = cross_val_score(svm_reg, fifa_prepared, wage_labels,
                                scoring="neg_mean_squared_error", cv=10)
svm_rmse_scores = np.sqrt(-svm_scores)
display_scores(svm_rmse_scores)

Scores: [22884.32888709 21701.49529073 22319.58125491 21235.82023419
 23437.93628153 20720.97667319 22682.12332033 21956.01525679
 20947.39297575 18666.66930687]
Mean: 21655.233948137113
Standard deviation: 1294.5451938456881

In [45]:
##Cross Validate for Decision Tree 
tree_scores = cross_val_score(tree_reg, fifa_prepared, wage_labels,
                                scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-tree_scores)
display_scores(tree_rmse_scores)

Scores: [14571.85322602 14788.81780674 15161.14126978 15609.1392145
 15323.89049466 15912.05260126 15718.97904383 14973.82479428
 15336.70181512 14016.75953286]
Mean: 15141.315979905703
Standard deviation: 544.0324938742107

### Random Forest model was selected as the best. Will utilize randomizedSearch to fine tune model

In [46]:
#Random Forest Model Selected, Fine tune model 
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

In [47]:
##Fine Tune model
param_distribs = {
        'n_estimators': randint(low=1, high=200),
        'max_features': randint(low=1, high=8),
    }

forest_reg = RandomForestRegressor(random_state=42)
rnd_search = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42)
rnd_search.fit(fifa_prepared, wage_labels)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators='warn',
                                                   n_jobs=None, oob_score=False,
                                                   random_sta...
                                                   warm_start=False),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001E00224D9B0>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001E00224D860>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring='neg_mean_squared_error',
                   verbose=0)

### Test fine-tuned model against test data and print final root mean square error

In [48]:
##Test model 
final_model = rnd_search.best_estimator_

X_test = strat_test_set.drop("wage_eur", axis=1)
y_test = strat_test_set["wage_eur"].copy()

X_test_prepared = full_pipeline.transform(X_test)
final_predictions = final_model.predict(X_test_prepared)

final_mse = mean_squared_error(y_test, final_predictions)
final_rmse = np.sqrt(final_mse)
print(final_rmse)

10562.02903134458

In [192]:
##Export Model
from sklearn.externals import joblib
joblib.dump(final_model, "final_model.pkl") 

my_model_loaded = joblib.load("final_model.pkl")

C:\Users\danie\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)